* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

